<!DOCTYPE html>
<html lang="{{ page_lang.short }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{{ site_title }}{% endblock %}</title>
    <meta name="description"
          content="{% block description %}{{ site_description[page_lang.pk] }}{% endblock %}" />

    <link rel="shortcut icon" href="{% asset "favicon.ico" %}" />
    <link rel="alternate" type="application/rss+xml" title="feed" href="{% url "feed", page_lang %}">

    <link rel="stylesheet" href="{% asset "style.css" %}" />

    {% block seo %}
      <meta property="og:site_name" content="{{ site_title }}" />
      <meta property="og:author" content="{{ author }}" />
      <meta property="og:title" content="{% block ogtitle %}{{ site_title }}{% endblock %}" />
      <meta property="og:description"
            content="{% block ogdesc %}{{ site_description[page_lang.pk] }}{% endblock %}" />
      <meta property="og:url" content="{% block ogurl %}{{ base_path }}{% endblock %}" />

      <meta property="og:locale" content="{{ page_lang.og }}" />
      {% for tr in page_translations -%}
        {% if tr.lang != page_lang -%}
          <meta property="og:locale:alternate" content="{{ tr.lang.og }}" />
        {%- endif %}
      {%- endfor %}

      {% for tr in page_translations %}
        <link rel="alternate" hreflang="{{ tr.lang.short }}" href="{% url page_template, tr %}" />
        {% if tr.pk == page_canonical_slug or tr.slug == page_canonical_slug -%}
          <link rel="alternate" hreflang="x-default" href="{% url page_template, tr %}" />
        {%- endif %}
      {% endfor %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <main id="main" role="main">
      <header roler="banner">
        <h3 style="margin-top:0;">
          <a href="{% url "index", page_lang %}" title="Home">{{ site_title }}</a>
          <br /><small>{{ site_description[page_lang.pk] }}</small>
        </h3>
        <nav style="margin-bottom:1rem;" role="navigation">
          <div>
            {% for language in languages %}
              {% if page_lang is defined and page_lang.pk == language.pk %}
                {{ language.short }}
              {% else %}
                <a href="{% url "index", language %}">{{ language.short }}</a>
              {% endif %}
            <span>&middot;</span>
            {% endfor %}

            {% for lang_page in page_lang.pages | sort(attribute='rank') %}
              {% if page is defined and page.pk == lang_page.pk %}
                {{ page.title }}
              {% else %}
                <a href="{% url "page", lang_page %}">{{ lang_page.title }}</a>
              {% endif %}
              <span>&middot;</span>
            {% endfor %}

            <a href="{% url "feed", page_lang %}">RSS</a>
            <span>&middot;</span>
            <a href="{% block source %}{{ repository }}{% endblock %}">{{ view_source[page_lang.pk] }}</a>
          </div>
        </nav>
      </header>
      <hr />

      {% block content %}{% endblock content %}

      <footer role="contentinfo">
        <hr/>
        {% set statik_link %}<a href="https://pypi.org/project/statik/">statik</a>{% endset %}
        {% set lightspeed_link %}
          <a href="https://github.com/carpetscheme/lightspeed">lightspeed</a>
        {% endset %}
        {{ page_lang.tr_built_with | format(statik_link, lightspeed_link) | safe }}
        {%- include "license.html" -%}
      </footer>
    </main>
  </body>
</html>
