{% extends "base.html" %}

{% block title %}{{ page.title }} &middot; {{ site_title }}{% endblock %}

{% block ogtitle %}{{ page.title }} &middot; {{ site_title }}{% endblock ogtitle %}
{% block ogurl %}{% url page_template, page %}{% endblock ogurl %}

{% block source %}{{ "%s/tree/%s/data/%s/%s.md" | format(repository, git_ref, page_model, page.pk) }}{% endblock %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>

  {% block after_headline %}{% endblock %}

  <div>
    {% for tr in page_translations %}
    {% if page.lang.pk == tr.lang.pk %}
      {{ tr.lang.short }}
    {% else %}
      <a href="{% url page_template, tr %}">{{ tr.lang.short }}</a>
    {% endif %}

    {% if not loop.last %}&middot;{% endif %}
    {% endfor %}
  </div>

  {{ page.content|safe }}
</article>
{% endblock content %}
