<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {%- block title -%}{%- if page_title -%}
        {{ page_title }}
      {%- else -%}
        {{ site_title }}
      {%- endif -%}{%- endblock -%}
    </title>
  </head>
  <body>
    <div class="container">
      <header>
        <p><b>{{ site_title }}</b></p>
        {% for language in languages %}
        {% if lang is defined and lang.pk == language.pk %}
          {{ language.short }}
        {% else %}
          <a href="{% url "index", language %}">{{ language.short }}</a>
        {% endif %}
        {% endfor %}
      </header>

      <main>
        {% block body %}{% endblock %}
      </main>

      <footer>
        {%- block taglines -%}
          {%- include "license.html" -%}
        {%- endblock taglines -%}
      </footer>
    </div>
  </body>
</html>
