{% extends "base.html" %}

{% block content %}
<main>
  <h1>{{ section.title }}</h1>
  <ul>
    {% for page in section.pages %}
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <div class="meta">
      <time>{{ post.date }}</time>
      <!-- TODO update -->
      {% for tag in taxonomies.tags %}
      <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="summary">
      SUMMARY AND HASMORE
    </div>
    {% endfor %}
  </ul>
</main>
{% endblock %}
