{% extends "base.html" %}

{% block extra_head %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ post.published|date("%Y-%m-%d") }}" />
{% endblock %}

{% block body %}
  <h1>{{ post.title }}</h1>
  <div>
    {% for tr in translations %}
    {% if post.lang.pk == tr.lang.pk %}
      {{ tr.lang.short }}
    {% else %}
      <a href="{% url "post", tr %}">{{ tr.lang.short }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="content">
    {{ post.content|safe }}
  </div>
{% endblock %}
